@model EducationalPortal.Domain.DTOs.BookDTO

@{
    ViewData["Title"] = "UpdateBook";
}

<h1>Update Book</h1>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="UpdateBook" asp-controller="Book" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Format" class="control-label"></label>
                <input asp-for="Format" class="form-control" />
                <span asp-validation-for="Format" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageCount" class="control-label"></label>
                <input asp-for="PageCount" class="form-control" />
                <span asp-validation-for="PageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<td>
    <a asp-action="AddBookAuthor" asp-controller="Book" asp-route-id="@Model.Id">Add author</a>
</td>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
