@model EducationalPortal.MVC.Models.CourseMaterialModel

@{
    ViewData["Title"] = "AddCourseMaterial";
}

<form asp-action="AddCourseMaterial" asp-controller="Course" asp-route-id="@Model.CourseId">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="number" hidden asp-for="CourseId" />
    <div class="form-group">
        <div class="md-form mb-5">
            <label asp-for="CourseName" for="form1" class="">@Model.CourseName</label>
            <label asp-for="CourseName" id="form1" class="form-control"></label>
            <span asp-validation-for="CourseName" class="field-validation-error badge badge-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <select asp-for="MaterialId" class="browser-default custom-select mb-4" asp-items="@Model.MaterialList" required>
            <option value="" disabled="" selected="">Choose material to add</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }