@model EducationalPortal.Domain.DTOs.ArticleDTO

@{
    ViewData["Title"] = "UpdateArticle";
}

<h1>Update Article</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateArticle" asp-controller="Article" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationDate" class="control-label"></label>
                <input asp-for="PublicationDate" class="form-control" />
                <span asp-validation-for="PublicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resource" class="control-label"></label>
                <input asp-for="Resource" class="form-control" />
                <span asp-validation-for="Resource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }